ISI/20212022_LESIPL_ISI_TG_18848_AndréCardoso_18850_LeonelFernandes/Código Fonte/SOAP service/SOAP/Cliente/Connected Services/Contactos/Contactos3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ModeloContactos">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCaso" type="xs:int" />
      <xs:element minOccurs="0" name="Nif" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloContactos" nillable="true" type="tns:ModeloContactos" />
</xs:schema>