ISI/TP1/src/SOAP/Cliente/Connected Services/UtentesAzure/Utentes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Utentes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IUtentes_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://soaptp1isi.azurewebsites.net/Utentes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://soaptp1isi.azurewebsites.net/Utentes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://soaptp1isi.azurewebsites.net/Utentes.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUtentes_GetUtentes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUtentes" />
  </wsdl:message>
  <wsdl:message name="IUtentes_GetUtentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUtentesResponse" />
  </wsdl:message>
  <wsdl:message name="IUtentes_GetUtentesByNIF_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUtentesByNIF" />
  </wsdl:message>
  <wsdl:message name="IUtentes_GetUtentesByNIF_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUtentesByNIFResponse" />
  </wsdl:message>
  <wsdl:message name="IUtentes_GetUtentesByNome_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUtentesByNome" />
  </wsdl:message>
  <wsdl:message name="IUtentes_GetUtentesByNome_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUtentesByNomeResponse" />
  </wsdl:message>
  <wsdl:message name="IUtentes_AddUtentes_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUtentes" />
  </wsdl:message>
  <wsdl:message name="IUtentes_AddUtentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUtentesResponse" />
  </wsdl:message>
  <wsdl:portType name="IUtentes">
    <wsdl:operation name="GetUtentes">
      <wsdl:input wsaw:Action="http://tempuri.org/IUtentes/GetUtentes" message="tns:IUtentes_GetUtentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUtentes/GetUtentesResponse" message="tns:IUtentes_GetUtentes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUtentesByNIF">
      <wsdl:input wsaw:Action="http://tempuri.org/IUtentes/GetUtentesByNIF" message="tns:IUtentes_GetUtentesByNIF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUtentes/GetUtentesByNIFResponse" message="tns:IUtentes_GetUtentesByNIF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUtentesByNome">
      <wsdl:input wsaw:Action="http://tempuri.org/IUtentes/GetUtentesByNome" message="tns:IUtentes_GetUtentesByNome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUtentes/GetUtentesByNomeResponse" message="tns:IUtentes_GetUtentesByNome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUtentes">
      <wsdl:input wsaw:Action="http://tempuri.org/IUtentes/AddUtentes" message="tns:IUtentes_AddUtentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUtentes/AddUtentesResponse" message="tns:IUtentes_AddUtentes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUtentes" type="tns:IUtentes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUtentes">
      <soap:operation soapAction="http://tempuri.org/IUtentes/GetUtentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUtentesByNIF">
      <soap:operation soapAction="http://tempuri.org/IUtentes/GetUtentesByNIF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUtentesByNome">
      <soap:operation soapAction="http://tempuri.org/IUtentes/GetUtentesByNome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUtentes">
      <soap:operation soapAction="http://tempuri.org/IUtentes/AddUtentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IUtentes" type="tns:IUtentes">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IUtentes_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUtentes">
      <soap:operation soapAction="http://tempuri.org/IUtentes/GetUtentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUtentesByNIF">
      <soap:operation soapAction="http://tempuri.org/IUtentes/GetUtentesByNIF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUtentesByNome">
      <soap:operation soapAction="http://tempuri.org/IUtentes/GetUtentesByNome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUtentes">
      <soap:operation soapAction="http://tempuri.org/IUtentes/AddUtentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Utentes">
    <wsdl:port name="BasicHttpBinding_IUtentes" binding="tns:BasicHttpBinding_IUtentes">
      <soap:address location="http://soaptp1isi.azurewebsites.net/Utentes.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IUtentes" binding="tns:BasicHttpsBinding_IUtentes">
      <soap:address location="https://soaptp1isi.azurewebsites.net/Utentes.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>