ISI/TP1/Código Fonte/Dashboard/Dashboard/Connected Services/Casos/Casos3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ModeloCasos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nif" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloCasos" nillable="true" type="tns:ModeloCasos" />
</xs:schema>