ISI/SOAP service/SOAP/Cliente/Connected Services/SOAP/Casos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Casos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62717/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62717/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62717/Service1.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICasos_GetCasos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCasos" />
  </wsdl:message>
  <wsdl:message name="ICasos_GetCasos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCasosResponse" />
  </wsdl:message>
  <wsdl:message name="ICasos_AddCasos_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCasos" />
  </wsdl:message>
  <wsdl:message name="ICasos_AddCasos_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCasosResponse" />
  </wsdl:message>
  <wsdl:message name="ICasos_GetUtentes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUtentes" />
  </wsdl:message>
  <wsdl:message name="ICasos_GetUtentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUtentesResponse" />
  </wsdl:message>
  <wsdl:message name="ICasos_GetUtentesByNIF_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUtentesByNIF" />
  </wsdl:message>
  <wsdl:message name="ICasos_GetUtentesByNIF_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUtentesByNIFResponse" />
  </wsdl:message>
  <wsdl:message name="ICasos_GetUtentesByNome_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUtentesByNome" />
  </wsdl:message>
  <wsdl:message name="ICasos_GetUtentesByNome_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUtentesByNomeResponse" />
  </wsdl:message>
  <wsdl:message name="ICasos_AddUtentes_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUtentes" />
  </wsdl:message>
  <wsdl:message name="ICasos_AddUtentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUtentesResponse" />
  </wsdl:message>
  <wsdl:message name="ICasos_GetContacto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContacto" />
  </wsdl:message>
  <wsdl:message name="ICasos_GetContacto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactoResponse" />
  </wsdl:message>
  <wsdl:message name="ICasos_AddContacto_InputMessage">
    <wsdl:part name="parameters" element="tns:AddContacto" />
  </wsdl:message>
  <wsdl:message name="ICasos_AddContacto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddContactoResponse" />
  </wsdl:message>
  <wsdl:portType name="ICasos">
    <wsdl:operation name="GetCasos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasos/GetCasos" message="tns:ICasos_GetCasos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasos/GetCasosResponse" message="tns:ICasos_GetCasos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCasos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasos/AddCasos" message="tns:ICasos_AddCasos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasos/AddCasosResponse" message="tns:ICasos_AddCasos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUtentes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasos/GetUtentes" message="tns:ICasos_GetUtentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasos/GetUtentesResponse" message="tns:ICasos_GetUtentes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUtentesByNIF">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasos/GetUtentesByNIF" message="tns:ICasos_GetUtentesByNIF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasos/GetUtentesByNIFResponse" message="tns:ICasos_GetUtentesByNIF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUtentesByNome">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasos/GetUtentesByNome" message="tns:ICasos_GetUtentesByNome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasos/GetUtentesByNomeResponse" message="tns:ICasos_GetUtentesByNome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUtentes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasos/AddUtentes" message="tns:ICasos_AddUtentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasos/AddUtentesResponse" message="tns:ICasos_AddUtentes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContacto">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasos/GetContacto" message="tns:ICasos_GetContacto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasos/GetContactoResponse" message="tns:ICasos_GetContacto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddContacto">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasos/AddContacto" message="tns:ICasos_AddContacto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasos/AddContactoResponse" message="tns:ICasos_AddContacto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICasos" type="tns:ICasos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCasos">
      <soap:operation soapAction="http://tempuri.org/ICasos/GetCasos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCasos">
      <soap:operation soapAction="http://tempuri.org/ICasos/AddCasos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUtentes">
      <soap:operation soapAction="http://tempuri.org/ICasos/GetUtentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUtentesByNIF">
      <soap:operation soapAction="http://tempuri.org/ICasos/GetUtentesByNIF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUtentesByNome">
      <soap:operation soapAction="http://tempuri.org/ICasos/GetUtentesByNome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUtentes">
      <soap:operation soapAction="http://tempuri.org/ICasos/AddUtentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContacto">
      <soap:operation soapAction="http://tempuri.org/ICasos/GetContacto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContacto">
      <soap:operation soapAction="http://tempuri.org/ICasos/AddContacto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Casos">
    <wsdl:port name="BasicHttpBinding_ICasos" binding="tns:BasicHttpBinding_ICasos">
      <soap:address location="http://localhost:62717/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>