ISI/SOAP service/SOAP/Cliente/Connected Services/Casos/Casos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Casos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62717/Casos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62717/Casos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62717/Casos.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICasos_GetCasos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCasos" />
  </wsdl:message>
  <wsdl:message name="ICasos_GetCasos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCasosResponse" />
  </wsdl:message>
  <wsdl:message name="ICasos_GetCasosByNIF_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCasosByNIF" />
  </wsdl:message>
  <wsdl:message name="ICasos_GetCasosByNIF_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCasosByNIFResponse" />
  </wsdl:message>
  <wsdl:message name="ICasos_GetCasosByData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCasosByData" />
  </wsdl:message>
  <wsdl:message name="ICasos_GetCasosByData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCasosByDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICasos_AddCasos_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCasos" />
  </wsdl:message>
  <wsdl:message name="ICasos_AddCasos_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCasosResponse" />
  </wsdl:message>
  <wsdl:portType name="ICasos">
    <wsdl:operation name="GetCasos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasos/GetCasos" message="tns:ICasos_GetCasos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasos/GetCasosResponse" message="tns:ICasos_GetCasos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCasosByNIF">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasos/GetCasosByNIF" message="tns:ICasos_GetCasosByNIF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasos/GetCasosByNIFResponse" message="tns:ICasos_GetCasosByNIF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCasosByData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasos/GetCasosByData" message="tns:ICasos_GetCasosByData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasos/GetCasosByDataResponse" message="tns:ICasos_GetCasosByData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCasos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasos/AddCasos" message="tns:ICasos_AddCasos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasos/AddCasosResponse" message="tns:ICasos_AddCasos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICasos" type="tns:ICasos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCasos">
      <soap:operation soapAction="http://tempuri.org/ICasos/GetCasos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCasosByNIF">
      <soap:operation soapAction="http://tempuri.org/ICasos/GetCasosByNIF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCasosByData">
      <soap:operation soapAction="http://tempuri.org/ICasos/GetCasosByData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCasos">
      <soap:operation soapAction="http://tempuri.org/ICasos/AddCasos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Casos">
    <wsdl:port name="BasicHttpBinding_ICasos" binding="tns:BasicHttpBinding_ICasos">
      <soap:address location="http://localhost:62717/Casos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>